<!-- <div class="search-container" style="margin-top: 10px;">
    <button
    class="search-button btn btn-primary"
    type="button"
    (click)="onSearch(filter.value)"
  >
  <i class="fas fa-search" style="color: #213555;"></i>
  </button>
    <input style="border:none;" type="text" placeholder="Filter by Location" class="search-input" #filter />
  </div> -->

  <div class="search-container d-flex align-items-center" style="margin-top: 10px;">
    <input 
      type="text" 
      placeholder="Search" 
      class="form-control search-input" 
      #filter 
    />
    
  </div>
  